* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* header */
.header {
  position: fixed;
  top: 0px;
  z-index: 999;
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 90px;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.49);
}
.slide {
  margin-top: 90px;
}
.logo {
  margin-left: 230px;
}
.logo > img {
  width: 130px;
  max-height: 90px;
  margin-right: 110px;
}

.menu {
  display: flex;
  width: 805px;
  height: 90px;
  justify-content: space-around;
  align-items: center;
}

.item {
  padding: 10px 0px 10px 0px;
  font-size: 0.8em;
}
.item:hover {
  color: #ff6900;
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
}
.search:hover {
  color: #ff6900;
  cursor: pointer;
}

/* main */
.about {
  width: 100%;
  height: 345px;
  display: flex;
  justify-content: space-around;
}
.about span {
  flex: 1;
  text-align: center;
  font-size: 13.0225vw;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  font-weight: bold;
}
.section-home-1 {
  width: 100%;
  height: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  margin-bottom: 100px;
  position: relative;
  bottom: 296px;
  left: 93px;
}
.content {
  width: 1050px;
  height: 165px;
}
.avahome {
  letter-spacing: 0.05em;
  margin-bottom: 60px;
}
.content > p {
  margin-bottom: 70px;
  font-size: 1.25rem;
  line-height: 3;
  text-align: left;
  color: #000000;
}

.button {
  width: 140px;
  height: 50px;
  border: 0.8px solid black;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.button:hover {
  background-color: #fa4d09;
}
.button > a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
.button > a:hover {
  color: white;
  text-decoration: none;
}
.section-home-2 {
  height: 480px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: -280px;
  border: 1px solid;
}
.section-home-2 > div {
  flex: 1;
}
.image > img {
  width: 100%;
  height: 100%;
}
.text-box {
  height: 480px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: 480px;
  align-items: center;
  justify-content: center;
}
.text-box > div {
  flex: 1;
}
.h3,
h3 {
  color: #fff;
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
}
p {
  font-size: 1.5rem;
  color: #f1f1f1;
  text-align: center;
}

.section-home-3 {
  width: 100%;
  height: 1640px;
  position: relative;
  bottom: 440px;
}
.text-title > p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #212529;
  font-size: 40px;
}
.text-title > p {
  font-size: 40px;
}
.row {
  width: 100%;
  height: 355px;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.card {
  width: 355px;
  height: 355px;
  /* border: 1px solid; */
  margin-right: 15px;
  overflow: hidden;
}
.card > img {
  width: 100%;
  height: 100%;
}

.box-text-hover {
  position: absolute;
  top: 0px;
  color: white;
  font-size: 30px;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.box-tex-content > span {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 0.85em;
}
.box-tex-content {
  margin: 10px 10px 0px 15px;
}
.card:hover img {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
.box-text-hover:hover {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.team {
  height: 300px;
  width: 100%;
  border: 1px solid;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: 430px;
}
.team > div {
  flex: 1;
}
.nv > img {
  width: 100%;
  height: 100%;
}

.price {
  width: 100%;
  height: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 380px;
}
.price-title {
  width: 500px;
  height: 50px;
  position: absolute;
  top: 0px;
}
.price-title h1 {
  font-size: 3rem;
  color: #ff6900;

}
.card-price {
  display: flex;
  width: 1080px;
  height: 650px;
  border: 1px solid;
  flex-direction: row-reverse;
  position: absolute;
  top: 70px;
}
.card-price > div {
  flex: 1;
}
.card-item {
  margin: 0 10px 0 10px;
  border: 1px solid;
}

/* footer */
.footer {
  height: 500px;
  width: 100%;
  border: 1px solid;
  position: relative;
  bottom: 1090px;
}
.footer-row-1 {

}
.pooter-content {
  height: 450px;
  width: 100%;
  border: 1px solid;
}
.footer-row-2 {
  height: 50px;
  width: 100%;
  border: 1px solid;
}
