* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* header */
.header {
  display: flex;
  width: 100%;
  height: 90px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.73);
}
.logo {
    margin-left: 230px;
}
.logo > img {
  width: 130px;
  max-height: 90px;
  margin-right: 110px;
}

.menu {
  display: flex;
  width: 805px;
  height: 90px;
  justify-content: space-around;
  align-items: center;
}

.item {
    padding: 10px 0px 10px 0px;
    font-size:.8em;
}
.item:hover {
    color: #ff6900;
    cursor:pointer; 
}
.search {
    display: flex;
    align-items: center;
}
.search:hover {
    color: #ff6900;
    cursor:pointer; 
}

/* main */
.about {
    width: 100%;
    height: 345px;
    display: flex;
    justify-content: space-around;
}
.about span {
    flex: 1;
    text-align: center;
    font-size: 13.0225vw;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#F1F1F1; 
    font-weight: bold;
    
}
.section-home-1 {
    width: 100%;
    height: 345px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    margin-bottom: 100px;
    position: relative;
    bottom: 296px;
    left: 93px;
 
    
}
.content {
    width: 1050px;
    height: 165px;
}
.avahome{
    letter-spacing: .05em;
    margin-bottom: 60px; 
}
.content > p {
    margin-bottom: 70px; 
    font-size: 1.25rem;
}

.button {
    width: 140px;
    height: 50px;
    border: 0.8px solid black;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.button:hover {
    background-color: #FA4D09;
}
.button > a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
.button > a:hover {
    color: white;
    text-decoration: none;
}
.section-home-2 {
    height: 480px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -280px;
}
.section-home-2 > div {
    flex: 1;
}
.image > img{
    width: 100%;
    height: 100%;
}
.image > h3 {
    background-color: #FA4D09;
position: relative;

}
.image > p {

}